#editor {
  position: relative;
}
#editor-options {
  position: absolute;
  right: 20px;
  top: 10px;
  z-index: 900;
}
#model-lang {
  opacity: 0.5;
}
#editor:hover #model-lang {
  opacity: 1;
}
#editor-message {
  display: none;
}
#editor-message .label-warning {
  color: #000;
}
#editor-message .message {
  color: #000;
}
.error-widget {
  margin-bottom: 0px;
  display: inline-block;
  margin-left: 10px;
  padding-bottom: 3px;
}
